<h1> CHECK OUT THIS DOPE CAT </h1>

<ul>
  <li><strong>Name:</strong> <%= @cats.name %></li>
  <li><strong>Birth Date:</strong> <%= @cats.birth_date %></li>
  <li><strong>Color:</strong> <%= @cats.color %></li>
  <li><strong>Sex:</strong> <%= @cats.sex%></li>
  <li><strong>Description:</strong> <%= @cats.description %></li>
  <br>
</ul>